@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,300&family=Roboto:wght@100;300;500;700&display=swap");

/* #FF79C6 */

* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #191622;
  color: #fff;
}

h1 {
  font-size: 3em;
  margin: 5% 0;
  color: #ff79c6;
}

/*  * INITIAL SETUP - change screen */
#the-game-screen {
  display: none;
}

#instruction {
  display: none;
}

/* *CANVAS SETUP */
#my-canvas {
  background-color: lightgrey;
}

#my-canvas {
  display: none;
}

.canvas {
  padding: 0;
}

/* * START SCREEN */
#start-screen {
  padding: 0 15%;
}

#start-screen button {
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 600;
}

#start-screen button:hover {
  color: #63d97b;
  border-style: solid;
}

#start-screen p {
  margin-bottom: 5%;
  font-size: 1.8em;
  color: #63d97b;
}

.game-btn {
  color: #fff;
  background-color: #191622;
  border-style: none;
}

.game-btn span {
  color: #ff79c6;
}

/* * INSTRUCTION SCREEN */

#instruction {
  flex-direction: column;
}

#step-instruction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.arrow-instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
  margin: 0;
  max-width: 600px;
}

.arrow-instruction img {
  height: 150px;
  max-width: 600px;
}

.arrow-instruction p {
  margin: 5% 0;
  font-size: 1.8em;
  color: #63d97b;
  width: 100%;
}

.instruction-img {
  display: flex;
  flex-direction: column;
}

.instruction-img button {
  margin-bottom: 5%;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 600;
}
.instruction-img button:hover {
  color: #63d97b;
  border-style: solid;
}

.instruction-img img {
  height: 400px;
}

/*  * GAME SCREEN */

#canvas-and-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#canvas-and-btn button {
  width: 100%;
  height: 100%;
  margin: auto;
}

#canvas-and-btn img {
  height: 5em;
  margin: 10px 0;
}

#canvas-and-btn p {
  font-size: 1em;
}

#right-container {
  text-align: left;
}

.left-painel-btn > ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.right-painel-btn > ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

/* * GAME BUTTON STYLES  */

.btn-flex {
  margin-top: 10px;
  margin-bottom: 50px;
}

.btn-flex button {
  height: 100px;
  display: flex;
  border-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: #63d97b;
}

.btn-flex button:hover {
  background-color: #ff79c6;
}

.btn-flex img {
  padding: 0 1%;
}

/* * BOTTOM GAME SCREEN  */

.btn-and-wallet {
  margin-top: 5%;
  font-size: 2.5em;
  color: #63d97b;
}
